#
# Check whether we are called from the standard pmlogger or at job prolog/epilog
# On prolog we specify 10 second intervals and the script ends after N samples
# On epilog we log once
#
%shell '[ -n "$PMLOGGER_PROLOG" ] && echo %define PMLOGGER_PROLOG; exit 0'
%shell '[ -n "$PMLOGGER_EPILOG" ] && echo %define PMLOGGER_EPILOG; exit 0'
# elif and nested ifdefs not supported, so just overwrite
%define static_freq '1 hour'
%define standard_freq '30 sec'
%define environ_freq 'once'
%ifdef PMLOGGER_PROLOG
%undef static_freq
%undef standard_freq
%undef environ_freq
%define static_freq '10 sec'
%define standard_freq '10 sec'
%define environ_freq '10 sec'
%endif
%ifdef PMLOGGER_EPILOG
%undef static_freq
%undef standard_freq
%undef environ_freq
%define static_freq 'once'
%define standard_freq 'once'
%define environ_freq 'once'
%endif

#
# Metrics expected to rarely change.
#

log mandatory on %{static_freq} {

    # we don't hardware list very often, just to ensure they don't go missing
    hinv.physmem
    hinv.pagesize
    hinv.ncpu
    hinv.ndisk
    hinv.nfilesys
    hinv.machine
    hinv.map.scsi
    hinv.map.cpu_num
    hinv.map.cpu_node
    hinv.cpu.clock
    hinv.cpu.vendor
    hinv.cpu.model
    hinv.cpu.stepping
    hinv.cpu.cache
    hinv.cpu.bogomips
    kernel.all.uptime
    mem.physmem
}

#
# This is a cut-down list of metrics from the recommened list.
# This shorter list is suitable for running inside the docker demo. On a
# real HPC system the data collection should be setup following the guide
# locate here: https://supremm.xdmod.org/supremm-compute-pcp.html#configuration-templates
#

log mandatory on %{standard_freq} {

    kernel.percpu.cpu.user
    kernel.percpu.cpu.sys
    kernel.percpu.cpu.irq.soft
    kernel.percpu.cpu.irq.hard
    kernel.percpu.cpu.intr
    kernel.percpu.cpu.wait.total
    kernel.percpu.cpu.idle
    kernel.percpu.cpu.nice
}

# Record the process tree rarely since it takes up a lot of space.
log mandatory on %{environ_freq} {

    hotproc.psinfo.cpusallowed
    hotproc.id.uid_nm
    hotproc.psinfo.cgroups
}

# Access Control Section
# The following settings should disallow all settings changes from anywhere,
# but allow setting queries from anywhere.
[access]
disallow * : all except enquire;
