<p class='my-5'>
Administrators can create custom pages. This is one such page. They can specify
the arrangement of widgets and even reuse some (as seen above).
</p>

<p class='my-5'>
This page illustrates what may be chemistry notes for a given chemistry class.
Something users can refer to directly within OnDemand while they work on their
Jupyter notebooks.
</p>