<!-- /home/hpcadmin/ondemand/config/views/widgets/_welcome.html.erb -->
<div class='alert alert-info text-center'>
    <p class='h2'>Thank you for attending the Open OnDemand Tutorial!</p>
    <br>
    <p class='small text-muted'>This is a custom panel that you can add to your own site.</p>
</div>